<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/Img/offers1.jpg" alt="Addidas" width="100%" height="450 px">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/Img/offers2.jpg" alt="Addidas" width="100%" height="450 px">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/Img/offers3.jpg" alt="Addidas" width="100%" height="450 px">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<section id="labels">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="dl">
                    <div class="brand">
                        <h2>mango</h2>
                    </div>
                    <div class="discount alizarin">30%
                        <div class="type">off</div>
                    </div>
                    <div class="descr">
                        <strong>Mei mucius gloriatur reprimique mollis*.</strong> Ad sonet perfecto antiopam mei, denique molestie ne has.
                    </div>
                    <div class="ends">
                        <small>* Conditions and restrictions apply.</small>
                    </div>
                    <div class="coupon midnight-blue">
                        <a data-toggle="collapse" href="#code-1" class="open-code">Get a code</a>
                        <div id="code-1" class="collapse code">LV5MAY14</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="dl">
                    <div class="brand">
                        <h2>lacoste</h2>
                    </div>
                    <div class="discount emerald">
                        50%
                        <div class="type">
                            off
                        </div>
                    </div>
                    <div class="descr">
                        <strong>
                            Ea per iuvaret ocurreret*. 
                        </strong> sit ea detraxit menandri mediocritatem, in mel dicant mentitum.
                    </div>
                    <div class="ends">
                        <small>* Conditions and restrictions apply.</small>
                    </div>
                    <div class="coupon midnight-blue">
                        <a data-toggle="collapse" href="#code-2" class="open-code">Get a code</a>
                        <div id="code-2" class="collapse code">MNO123ST</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="dl">
                    <div class="brand">
                        <h2>
                            converse
                        </h2>
                    </div>
                    <div class="discount peter-river">
                        15%
                        <div class="type">
                            off
                        </div>
                    </div>
                    <div class="descr">
                        <strong>
                       Solet consul tractatos ei pro*. 
                  </strong> Ei mei quot invidunt explicari, placerat percipitur intellegam.
                    </div>
                    <div class="ends">
                        <small>
                     * Conditions and restrictions apply.
                  </small>
                    </div>
                    <div class="coupon midnight-blue">
                        <a data-toggle="collapse" href="#code-3" class="open-code">Get a code</a>
                        <div id="code-3" class="collapse code">
                            OLV4SY3R
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="dl">
                    <div class="brand">
                        <h2>
                            adidas
                        </h2>
                    </div>
                    <div class="discount amethyst">
                        25%
                        <div class="type">
                            off
                        </div>
                    </div>
                    <div class="descr">
                        <strong>
                      Cu aliquip persius alterum duo*. 
                  </strong> Possit equidem disputando usu et, sea invidunt scriptorem in.
                    </div>
                    <div class="ends">
                        <small>
                     * Conditions and restrictions apply.
                  </small>
                    </div>
                    <div class="coupon midnight-blue">
                        <a data-toggle="collapse" href="#code-4" class="open-code">Get a code</a>
                        <div id="code-4" class="collapse code">
                            ZUY4OPLQ
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <img class="p-5" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d8a427104454435.5f634129afe77.jpg" width="100%" height="400px">
</div>